.header-pd {
    padding: 154px 0 100px;
}

@media (min-width: 992px) {
    .header-pd {
        padding: 156px 0 100px;
    }
}

.pd_150 {
    padding: 150px 0;
}

.card-weather .card-block {
    padding: 1.25rem;
}

.card-weather__img {
    margin-left: -.5rem;
}

/* Sticky footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 120px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}